html {
    font-size: 62.5%;
}
img {
    width: auto;
    height: auto;
}
body {
    background-color: #003B6F;
    color: #d3cfcf;
    font-size: 1.6rem;
    font-family: 'Gentium Book Plus', serif;
}
p {
    margin-bottom: .67em;
  }
  nav, footer {
    background-color: #000000;
  }
.logo {
    border-radius: 50%;
}