:root {
    --bg: #003b6f;
}
html {
    font-size: 62.5%;
}
img {
    width: auto;
    height: auto;
}
body {
    background-color: var(--bg);
    color: #d3cfcf;
    font-size: 1.6rem;
    font-family: 'Gentium Book Plus', serif;
}
p {
    margin-bottom: .67em;
  }
/*-- nav bar styles --*/
nav, footer {
    background-color: #000000;
    color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav div {
    display: flex;
}
nav img {
    height: 6rem;
    width: auto;
    border-radius: 50%;
}
.logo {
    align-items: center;
    font-size: 4rem;
    gap: 2rem;
}
.links {
    gap: 4rem;
    font-size: 2rem;
}

main {
    max-width: 86vw;
    margin: auto auto;
}
/*-- Hero Unit Style --*/
header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: auto;
    text-align: center;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 4rem;
}
header img {
    height: 600;
    width: auto;
    margin: 0 auto;
}
header h1 {
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}
/*-- Section styles --*/

section {
    display: grid;
    margin: 3rem auto;
    grid-gap: 3rem;
}

section.one {
    grid-template-columns: 7fr 5fr;
}

section.two{
    grid-template-columns: 5fr 7fr;
}
section.three {
    grid-template-columns: 1fr 1fr;
}
.three .pic {
   background-image: url(../img/large.jpg);
   height: 400px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
div.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.more-links {
    background-color: #000000;
    color: #EAEAEA;
    width: 16rem;
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2rem auto;
    border-radius: 2rem;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 2rem;
    }
    section.two, section.one, section.three {
        grid-template-columns: 1fr;
    }
    section.two div.pic {
        order: -1;
    }
}